<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author_id %>
  <%= @recipe.author.display_name %>
</p>

<%#= image_tag "/images/#{@recipe.image_filename}", width: '250px' %>
<%= image_tag @recipe.image, width: '250px' %>