<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author_id %>
  <%= @recipe.author.display_name %>
</p>

<% if @recipe.image_filename %>
  <hr/>
  <h6>Local Image</h6>
  <%= image_tag "/images/#{@recipe.image_filename}", width: '250px' %>
<% end %>

<% if @recipe.image %>
  <hr/>
  <h6>S3 Image</h6>
  <%= image_tag @recipe.image, width: '250px'  %>
<% end %>
