<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author_id %>
  <%= @recipe.author.display_name %>
</p>

<button id="checkout-button">Purchase</button>

<% if @recipe.image_filename %>
  <hr/>
  <h6>Local Image</h6>
  <%= image_tag "/images/#{@recipe.image_filename}", width: '250px' %>
<% end %>

<% if @recipe.image %>
  <hr/>
  <h6>S3 Image</h6>
  <%= image_tag @recipe.image, width: '250px'  %>
<% end %>

  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public_key) %>');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function() {
      // Create a new Checkout Session using the server-side endpoint you
      // created in step 3.
      fetch('/checkout', {
        method: 'POST',
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function(result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using `error.message`.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function(error) {
        console.error('Error:', error);
      });
    });
  </script>
