<h1>New Author</h1>

<%# <form action='/authors' method='post'>
    <label>First Name</label>
    <input type='text' name='author[first_name]'/>
 
    <label>Last Name</label>
    <input type='text' name='author[last_name]'/>

    <input type='submit' name='commit'>
</form> %>

<%= form_with model: @author do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.submit 'Submit' %>
<% end %>